<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Swish.io</title>
    <link rel="stylesheet" href="/static/contact.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/contact.js"></script>
  </head>

    <body>
    <div>
      <div class="topnav" id="myTopnav">
        <a href=home class="active">Swish.io</a>
          <a class="side" href="https://www.paypal.com" >Support Us</a>
          <a class="side" href=contact >About</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>

    <div id="About" class="about-section">
        <h1>About Us Page</h1>
        <p>This project is a full-stack python web application with Data Science features.</p>
        <p>It mainly scrapes 100 tweets per request and stores them in a csv file then performs sentiments analysis.</p>
        <p>csv files are automatically saved to a Google Drive cloud storage.</p>
    </div>

        <h2 style="text-align:center">About the Developer</h2>
    <div class="row">
        <div class="column">
            <div class="card">
            <img src="/static/angelo.jpg" alt="Angelo" style="width:100%">
            <div class="container">
                <h2>Angelo S. Timajo</h2>
                <p class="title">Software Engineer</p>
                <p>I am a Canadian-Filipino specializing in Software Engineering and currently focused on building a Data Science full-stack web app (using Twitter API and Flask). I recently obtained my Microsoft Azure Certification on Cloud Computing. I am also interested on automation and robotics by building miniaturized IoT projects with LoRa, Arduino, and Raspberry Pi. </p>
                <p>timajoangelo3@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
            </div>
        </div>

    <br> <br> <br> <br> <br>  <br>
    <div class="footer">
      <button id="darkmode" onclick="myFunction()">Toggle dark mode</button>
    </div>
    </body>

</html>
    
